<p-panel header="Settings">

  <div class="ui-g">
    <label for="email" class="ui-g-12 ui-md-2">Email:</label>
    <input id="email" type="email" class="ui-g-12 ui-md-10" placeholder="Enter an Email Address">
  </div>

  <br />

  <div class="ui-g">
    <label for="backuButton" class="ui-g-12 ui-md-2">Force Backup:</label>
    <button pButton id="backupButton"  type="button" class="ui-g-12 ui-md-10 ui-button-rounded">Backup System Now</button>
  </div>

  <br />

  <div class="ui-g">
    <label for="stat" class="ui-g-12 ui-md-2">Status:</label>
    <div id="stat" class="ui-g-12 ui-md-6 ui-g-nopad stat">
      <div class="icon ui-g-8">
        <i class="fas fa-cloud-download-alt cloud"></i>
      </div>
      
      <div class="data ui-g-2">
        <div class="value">20</div>
        <div class="label">Days Left</div>
      </div>
    </div>
  </div>
  
</p-panel>
